<div class="main_splash">
<div class="box">
 <center><div class="bg bg-success">Thank you for registration with us. Please check your email to activate your account.<div></center>
    <h2>Budget Tracker</h2>
    
     <div class="d-grid gap-2 paddingspace">
    
        <a href="users/sign_in"  class="btn btn-md btn-color">Login</a>
    </div>

    

</div>
</div>